.container_data{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3{
  font-family: good-times, sans-serif;
  font-weight: 600;
}

.heading{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.arrow{
  content: url(../../../assets/image/right-arrow.png);
  width: 30px;
  margin-top: 45px;

}

.confirmButton button{
  border:0;
  display: block;
  margin: 20px auto;
  text-align: center;
  text-decoration: solid;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  color: #020202;
  border-radius: 10px;
  transition: 0.25px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  background: #f0efefd0;
  transition-duration: 0.4s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}


/* dropdown menu for iban */


/* The search field */
select {
  border:0;
  display: block;
  text-decoration: solid;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  color: #020202;
  border-radius: 10px;
  transition: 0.25px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  background: #fffffffd;
  transition-duration: 0.4s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Links inside the dropdown */
ption {
  color: black;
  padding: 12px 16px;
  text-decooration: none;
  display: block;
  font-weight: 600;
}

/* Change color of dropdown links on hover */
option:hover {
  background-color: #b3b0b0;
  border-radius: 15px;

}

.show {display:block;}

.cashInput input{
  border:0;
  display: block;
  text-align: center;
  text-decoration: solid;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  color: #020202;
  border-radius: 10px;
  transition: 0.25px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  background: #fffffffd;
  transition-duration: 0.4s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.reciveData input{
  border:0;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: solid;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  color: #020202;
  border-radius: 10px;
  transition: 0.25px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  background: #fffffffd;
  transition-duration: 0.4s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin-top: 70px;
}
.sendData {
  height: 200px;
  width: -webkit-fill-available;
  text-align: center;
}

.reciveData {
  height: 200px;
  width: -webkit-fill-available;
  text-align: center;

}

h3 {
  text-align: center;
}

small {
  margin-left: auto;
  margin-right: auto;
  color: red;
}

select.ng-invalid.ng-touched {
 border: 1px solid red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }



@media only screen and (max-width: 640px){
  .container_data{
    display: flex;
    flex-direction: column;
  }

  .arrow{
    transform:rotate(90deg);
  }

  .reciveData h3{
    visibility: hidden;
  }

  .sendData h3{
    visibility: hidden;
  }

  .reciveData input{
    margin-top: 0;
  }

  .reciveData{
    height: 120px;
  }

  .confirmButton button{
    width:200px
  }

  .heading {
    padding-bottom: 0px;
  }

}
