<div class="logo">
  <h1>SIBANK</h1>
</div>

<div class="heading">
  <h1>CASH TRANSFER</h1>
</div>

<form [formGroup]="cashTransferForm" #data="ngForm" (ngSubmit) = "transferMoney()">

  <div class="container_data">
      <div class="sendData">
        <h3>from</h3>
        <div class="iban">

            <div class="dropdown">

              <select name="sender" id="sender" #sender formControlName="sender">
                <option *ngFor="let account of accounts" [ngValue]="account" selected="selected">{{account.iban}} {{account.bankName}} ({{account.money}})</option>
              </select>
                <small *ngIf="cashTransferForm.controls['sender'].invalid && cashTransferForm.controls['sender'].touched">
                  This field is required
                </small>
            </div>


        </div>

        <div class="cashInput">
          <input id="cashAmount" type="number" name="cashAmount" formControlName="cashAmount"
          required  placeholder="enter amount of cash" ngModel>
            <small *ngIf="cashTransferForm.controls['cashAmount'].invalid && (cashTransferForm.controls['cashAmount'].touched || cashTransferForm.controls['cashAmount'].dirty)">
              <small *ngIf="cashTransferForm.controls['cashAmount'].errors?.['required']">
                This field is required
              </small>
              <small *ngIf="cashTransferForm.controls['cashAmount'].errors?.['cashMinLimit']">
                Amount must be greater then 0
              </small>

          </small>
        </div>

      </div>

      <div class="arrow">

      </div>

      <div class="reciveData">
        <h3>to</h3>
        <input id="receiverIban" type="text" name="receiverIban" formControlName="receiverIban"  minlength="5" placeholder="IBAN" ngModel>
        <small *ngIf="cashTransferForm.controls['receiverIban'].invalid && (cashTransferForm.controls['receiverIban'].touched || cashTransferForm.controls['receiverIban'].dirty)">
          <small *ngIf="cashTransferForm.controls['receiverIban'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="cashTransferForm.controls['receiverIban'].errors?.['pattern']">
            Iban pattern must be : AB12 1234 1234 1234 1234<br>
          </small>
        </small>
      </div>
  </div>

  <div class="confirmButton">
    <button type="submit" [disabled]="cashTransferForm.invalid" >confirm</button>

  </div>

</form>
