$mainColor : #272727;
$lightYellow : #FDC591;
$darkYellow : #CB9767;

.modal_box{
  min-width: 320px;
  max-width: 350px;
  min-height: 460px;
  text-align: -webkit-center;
  border-radius: 42px;
  background: #272727;
  box-shadow:  13px 13px 26px #161616,
             -13px -13px 26px #383838;
  padding-bottom: 15px;

   h3{
    color: $darkYellow;
    margin: 17px;
   }
  .line{
   hr{
    border: 1px solid $darkYellow;
   }
  }

  form{
    width: 80%;
    text-align: left;

    p{
      color:#fff;
    }

    select{
      border: 0;
      width: -webkit-fill-available;
      display: block;
      -webkit-text-decoration: solid;
      text-decoration: solid;
      padding: 10px;
      outline: none;
      color: #ffff;
      border-radius: 19px;
      transition: 0.25px;
      transition-duration: 0.4s;
      font-weight: 600;
      margin-left: auto;
      margin-right: auto;
      background: #272727;
      box-shadow: inset 8px 8px 17px #191919,
            inset -8px -8px 17px #353535;
      option {
        color: #ffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: 600;
      }
    }
    .show {display:block;}

    .input_field{
      border-radius: 19px;
      background: #272727;
      box-shadow: inset 8px 8px 17px #191919,
            inset -8px -8px 17px #353535;
      input{
        border: none;
        background: none;
        outline: none;
        font-size: 18px;
        color: #ffff;
        padding: 10px;
        width: -webkit-fill-available;
        border-radius: 50px;
      }

    }
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .confirm_button, .close_button{
      width: 110px;
      height: 55px;
/*       margin-top: -35px;
 */
    }

    button{
      border:0;
      display: block;
      text-align: center;
      padding: 12px 5px;
      outline: none;
      color: #ffff;
      font-weight: 700;
      font-size: 17px;
      border-radius: 24px;
      transition: 0.25px;
      width: -webkit-fill-available;
      transition-duration: 1.5s;
      margin-top: 27px;
      margin-bottom: 15px;
      background: #272727;
      box-shadow:  9px 9px 15px #1f1f1f,
                -9px -9px 15px #2f2f2f;

    }
  }

  small{
    color:$darkYellow;
  }


}
