<div class="modal_box">
  <h3 class="heading">Transfer money</h3>
  <div class="line">
    <hr>
  </div>
  <form [formGroup]="moneyTransferForm" #data="ngForm" (ngSubmit) = "transferMoney()">
    <div class="modal_input">
      <p class="input_info">Chose account</p>
      <div class="dropdown">
        <select name="sender" id="sender" #sender formControlName="sender">
          <option *ngFor="let account of accounts" [ngValue]="account" selected="selected">{{account.iban}} {{account.bankName}} ({{account.money | currencyFormat}})</option>
        </select>
        <small *ngIf="moneyTransferForm.controls['sender'].invalid && moneyTransferForm.controls['sender'].touched">
          This field is required
        </small>
      </div>
      <div class="modal_input">
        <p class="input_info">Enter amount of money</p>
        <div class="input_field">
          <input id="cashAmount" type="number" name="cashAmount" formControlName="cashAmount"
          required class="money_input" ngModel>
        </div>
          <small *ngIf="moneyTransferForm.controls['cashAmount'].invalid && (moneyTransferForm.controls['cashAmount'].touched || moneyTransferForm.controls['cashAmount'].dirty)">
            <small *ngIf="moneyTransferForm.controls['cashAmount'].errors?.['cashMinLimit'] || moneyTransferForm.controls['cashAmount'].errors?.['required']">
              Amount must be greater then 0
            </small>
          </small>
      </div>
      <div class="modal_input">
        <p class="input_info">Enter destination iban</p>
        <div class="input_field">
          <input id="receiverIban" type="text" name="receiverIban" formControlName="receiverIban"  minlength="5"  ngModel class="iban_input">
        </div>
        <small class="error_message" *ngIf="moneyTransferForm.controls['receiverIban'].invalid && (moneyTransferForm.controls['receiverIban'].touched || moneyTransferForm.controls['receiverIban'].dirty)">
          <small *ngIf="moneyTransferForm.controls['receiverIban'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="moneyTransferForm.controls['receiverIban'].errors?.['pattern']">
            Iban pattern must be : AB12 1234 1234 1234 1234<br>
          </small>
        </small>
      </div>
    </div>
  <div class="buttons">
    <div class="close_button">
      <button (click)="closeModal()">Close</button>
    </div>
    <div class="confirm_button">
      <button type="submit" [disabled]="moneyTransferForm.invalid">Confirm</button>
    </div>
  </div>
</form>

</div>
