$mainColor : #272727;
$lightYellow : #FDC591;
$darkYellow : #CB9767;

.modal_box{
  min-width: 320px;
  min-height: 286px;
  max-height: 286px;
  text-align: -webkit-center;
  border-radius: 42px;
  background: #272727;
  box-shadow:  13px 13px 26px #161616,
             -13px -13px 26px #383838;
  h3{
    color: $darkYellow;
    margin: 17px;
  }
  .line{

    hr{
      border: 1px solid $darkYellow;

    }
  }

  .modal_input{
    width: 80%;
    text-align: left;

    p{
      color:#fff;
    }

    .amount_input{
      border-radius: 19px;
      background: #272727;
      box-shadow: inset 8px 8px 17px #191919,
            inset -8px -8px 17px #353535;
      input{
        border: none;
        background: none;
        outline: none;
        font-size: 18px;
        color: #ffff;
        padding: 10px;
        width: -webkit-fill-available;
        border-radius: 50px;


      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
 }
    }

  }

  .buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .confirm_button, .close_button{
      width: 110px;
      height: 55px;
    }

    button{
      border:0;
      display: block;
      text-align: center;
      padding: 12px 5px;
      outline: none;
      color: #ffff;
      font-weight: 700;
      font-size: 17px;
      border-radius: 24px;
      transition: 0.25px;
      width: -webkit-fill-available;
      transition-duration: 1.5s;
      margin-top: 27px;
      margin-bottom: 15px;
      background: #272727;
      box-shadow:  9px 9px 15px #1f1f1f,
                -9px -9px 15px #2f2f2f;

    }
  }

}
