  <div class="modal_box">
    <h3 class="heading">Add money</h3>
    <div class="line">
    <hr>
    </div>
    <div class="modal_input">
      <p class="input_information">Enter amount of money</p>
      <div class="amount_input"><input type="number" placeholder="amount" [(ngModel)]="moneyToAdd"></div>
    </div>
      <div class="buttons">
        <div class="close_button">
          <button (click)="closeModal()">Close</button>
        </div>
        <div class="confirm_button">
          <button (click)="sendMoneyToAdd(); closeModal()">Confirm</button>
        </div>
      </div>

  </div>
