.header {
width: 1920px;
height: 129px;
background: transparent;
/* Note: currently only Safari supports backdrop-filter */
backdrop-filter: blur(21px);
--webkit-backdrop-filter: blur(21px);
background-color: rgba(0, 0, 0, 0.19);
/* (plus shape's fill blended on top as a separate layer with 24% opacity) */

}
