$mainColor : #272727;
$lightYellow : #FDC591;
$darkYellow : #CB9767;



.screen{
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-ilustration {
  width: 50%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  .ilustration-box{
    width: 90%;
    height: 90%;
    border-radius: 50px;
    background: #272727;
    box-shadow:  29px 29px 58px #222222,
                -29px -29px 58px #2c2c2c;
    text-align: center;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
  }

  h3{
    color: #CB9767;
  }


}



svg{
  width: 90%;
  height: fit-content;
}




.form-div{
  width: 50%;
  height: auto;
  display: grid;
  justify-items: center;
  align-items: center;

  .form-box{
    width: 55%;
    max-width: 306px;

  }


}




h2{
  color:#CB9767;
  font-weight: 700;
}

p{
  color:#ffffff;
  font-weight: 100;
}

.textField{
  margin-bottom: 20px;

}

input[type="text"], .box input[type="password"]{
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  color: #ffff;
  padding: 10px;
  width: -webkit-fill-available;
  border-radius: 50px;

}

.email, .password{
  border-radius: 50px;
  background: #272727;
  box-shadow:  inset 11px 11px 17px #1d1d1d,
               inset -11px -11px 17px #313131;
}

.warning_message div {
  margin-bottom: -24px;
  margin-left: 25px;

  small{
    color: $darkYellow;

  }
}

h1{
text-align: center;
  top: 50%;
}

button{
  border:0;
  display: block;
  text-align: center;
  padding: 5px 5px;
  outline: none;
  color: #ffff;
  font-weight: 700;
  font-size: 25px;
  border-radius: 24px;
  transition: 0.25px;
  width: -webkit-fill-available;
  transition-duration: 1.5s;
  margin-top: 27px;
  background: #272727;
box-shadow:  9px 9px 15px #1f1f1f,
             -9px -9px 15px #2f2f2f;

}



button:hover{
  background-image: linear-gradient(to right, $lightYellow, $darkYellow);
  cursor: pointer;
  color: #1d1d1d;

}

small{
  font-size: 0.65em;
  color: red;
}


@media only screen and (max-width: 600px) {

  .screen{
    flex-direction: column;
  }

  .login-ilustration{
    width: 100%;
    height: 40%;
  }

  .ilustration-box{
    border-radius: none;
     background: none;
    box-shadow: none;
  }


  .form-div{
    width: 100%;
    height: 60%;
    align-items: start;


  }

}
