
<div class="screen">

  <div class="login-ilustration">
    <div class="ilustration-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="648.043" height="298.962" viewBox="0 0 648.043 298.962">
        <g id="Group_2" data-name="Group 2" transform="translate(0 0)">
          <path id="Path_40" data-name="Path 40" d="M317.959,621.761c-15.516-10.112-26.8-28.288-24.489-46.664a85.331,85.331,0,0,0,52.657,25.681c7.729.773,16.406.829,21.894,6.325,3.415,3.42,4.866,8.418,4.941,13.25s-1.087,9.589-2.24,14.282l.284,1.173C352.5,635.125,333.475,631.873,317.959,621.761Z" transform="translate(-180.527 -339.435)" fill="#f0f0f0"/>
          <path id="Path_41" data-name="Path 41" d="M293.8,574.969a72.935,72.935,0,0,0,28.943,34.292,31.407,31.407,0,0,0,9,3.99,18.014,18.014,0,0,0,9.474-.364c2.879-.842,5.727-2.037,8.761-2.165a11.03,11.03,0,0,1,8.329,3.463c2.729,2.751,4.307,6.318,5.729,9.86,1.579,3.933,3.157,8.043,6.372,10.956.39.353-.181.937-.57.584-5.595-5.068-6.21-13.2-10.608-19.079-2.052-2.743-4.943-4.885-8.478-4.976-3.091-.079-6.029,1.151-8.937,2.029a19.222,19.222,0,0,1-9.25.7,29.037,29.037,0,0,1-9.116-3.63,70.76,70.76,0,0,1-17.061-14.072,74.226,74.226,0,0,1-13.372-21.374c-.2-.485.59-.7.787-.217Z" transform="translate(-180.469 -339.311)" fill="#fff"/>
          <path id="Path_42" data-name="Path 42" d="M323.486,621.118a10.943,10.943,0,0,1-13.954,2.461c-.452-.267-.059-.982.394-.715a10.133,10.133,0,0,0,12.976-2.316c.333-.406.916.166.584.57Z" transform="translate(-185.555 -353.531)" fill="#fff"/>
          <path id="Path_43" data-name="Path 43" d="M357.83,624.491a21.091,21.091,0,0,0-6.788-13.79c-.388-.354.182-.938.57-.584a21.938,21.938,0,0,1,7.034,14.364c.043.524-.774.532-.816.01Z" transform="translate(-198.49 -350.295)" fill="#fff"/>
          <path id="Path_44" data-name="Path 44" d="M305.685,594.157a6.194,6.194,0,0,0,2.306-5.406c-.049-.524.767-.531.816-.01a6.941,6.941,0,0,1-2.537,5.986.422.422,0,0,1-.577.007.41.41,0,0,1-.007-.577Z" transform="translate(-184.385 -343.559)" fill="#fff"/>
          <path id="Path_45" data-name="Path 45" d="M365.008,526.285c.04.326.08.652.127.982a81.567,81.567,0,0,0,2.746,12.944c.093.329.191.661.293.986a86,86,0,0,0,14.79,27.994,83.507,83.507,0,0,0,8.632,9.3c4.294,3.973,9.266,7.938,11.918,12.95a14.335,14.335,0,0,1,.749,1.607l-13.238,27.138c-.061.047-.116.1-.177.143l-.479,1.108c-.171-.137-.345-.283-.516-.42-.1-.079-.2-.164-.3-.244-.065-.055-.13-.11-.193-.155-.022-.018-.043-.036-.059-.052-.062-.046-.115-.095-.171-.137q-1.463-1.22-2.914-2.464c-.006,0-.006,0-.009-.012a122.793,122.793,0,0,1-19.853-21.182c-.169-.236-.344-.474-.506-.722a79.694,79.694,0,0,1-6.62-11.193,70.448,70.448,0,0,1-2.767-6.569,58.582,58.582,0,0,1-3.442-17.99c-.391-12.24,3.137-24.47,11.35-33.341C364.584,526.73,364.792,526.509,365.008,526.285Z" transform="translate(-199.138 -324.25)" fill="#f0f0f0"/>
          <path id="Path_46" data-name="Path 46" d="M369.441,526.365a72.935,72.935,0,0,0,2.464,44.806,31.408,31.408,0,0,0,4.78,8.6,18.014,18.014,0,0,0,7.783,5.413c2.806,1.061,5.8,1.822,8.3,3.546a11.03,11.03,0,0,1,4.565,7.78c.523,3.839-.365,7.638-1.362,11.322-1.107,4.091-2.322,8.322-1.508,12.584.1.516-.708.639-.807.124-1.416-7.415,2.988-14.278,3.017-21.62.013-3.426-1.006-6.877-3.773-9.077-2.42-1.924-5.506-2.711-8.357-3.761a19.222,19.222,0,0,1-7.808-5.01,29.034,29.034,0,0,1-5.093-8.387,70.758,70.758,0,0,1-5.15-21.508,74.228,74.228,0,0,1,2.191-25.117c.134-.507.892-.2.759.3Z" transform="translate(-203.256 -324.1)" fill="#fff"/>
          <path id="Path_47" data-name="Path 47" d="M365.782,581.958a10.943,10.943,0,0,1-12.623-6.437c-.2-.485.544-.82.745-.334a10.133,10.133,0,0,0,11.754,5.963c.51-.124.631.684.124.807Z" transform="translate(-199.178 -339.389)" fill="#fff"/>
          <path id="Path_48" data-name="Path 48" d="M390.5,604.469a21.091,21.091,0,0,0,2.883-15.1c-.1-.517.71-.64.807-.124a21.938,21.938,0,0,1-3.032,15.7c-.282.445-.938-.041-.658-.483Z" transform="translate(-210.785 -343.734)" fill="#fff"/>
          <path id="Path_49" data-name="Path 49" d="M366.914,549.493a6.194,6.194,0,0,0,5.1-2.928c.276-.448.932.038.658.483a6.941,6.941,0,0,1-5.63,3.252.422.422,0,0,1-.465-.342.41.41,0,0,1,.342-.465Z" transform="translate(-203.361 -330.504)" fill="#fff"/>
          <path id="Path_50" data-name="Path 50" d="M991.661,621.761c15.516-10.112,26.8-28.288,24.489-46.664a85.331,85.331,0,0,1-52.657,25.681c-7.729.773-16.406.829-21.894,6.325-3.415,3.42-4.866,8.418-4.941,13.25s1.087,9.589,2.24,14.282l-.283,1.173C957.123,635.125,976.146,631.873,991.661,621.761Z" transform="translate(-380.707 -339.435)" fill="#f0f0f0"/>
          <path id="Path_51" data-name="Path 51" d="M1016.829,574.969a72.936,72.936,0,0,1-28.943,34.292,31.411,31.411,0,0,1-9,3.991,18.015,18.015,0,0,1-9.474-.364c-2.88-.842-5.727-2.037-8.761-2.165a11.03,11.03,0,0,0-8.329,3.463c-2.729,2.751-4.307,6.318-5.729,9.86-1.579,3.933-3.156,8.043-6.372,10.956-.39.353.181.937.57.584,5.594-5.068,6.21-13.2,10.608-19.079,2.052-2.744,4.943-4.885,8.478-4.976,3.091-.079,6.029,1.151,8.937,2.029a19.222,19.222,0,0,0,9.25.7,29.038,29.038,0,0,0,9.116-3.63,70.759,70.759,0,0,0,17.061-14.072,74.226,74.226,0,0,0,13.373-21.374c.2-.485-.59-.7-.787-.217Z" transform="translate(-381.777 -339.311)" fill="#fff"/>
          <path id="Path_52" data-name="Path 52" d="M1015.735,621.118a10.942,10.942,0,0,0,13.954,2.461c.452-.267.059-.982-.394-.715a10.133,10.133,0,0,1-12.976-2.316c-.333-.406-.916.166-.584.57Z" transform="translate(-405.278 -353.531)" fill="#fff"/>
          <path id="Path_53" data-name="Path 53" d="M984.33,624.491a21.092,21.092,0,0,1,6.788-13.79c.388-.354-.182-.938-.57-.584a21.937,21.937,0,0,0-7.034,14.364C983.471,625.005,984.287,625.013,984.33,624.491Z" transform="translate(-395.284 -350.295)" fill="#fff"/>
          <path id="Path_54" data-name="Path 54" d="M1038.5,594.157a6.2,6.2,0,0,1-2.306-5.406c.05-.524-.767-.531-.816-.01a6.941,6.941,0,0,0,2.537,5.986.422.422,0,0,0,.577.007A.41.41,0,0,0,1038.5,594.157Z" transform="translate(-411.41 -343.559)" fill="#fff"/>
          <path id="Path_55" data-name="Path 55" d="M957.5,526.285c-.04.326-.08.652-.127.982a81.561,81.561,0,0,1-2.746,12.944c-.093.329-.191.661-.293.986a85.994,85.994,0,0,1-14.79,27.994,83.516,83.516,0,0,1-8.632,9.3c-4.294,3.973-9.266,7.938-11.918,12.95a14.34,14.34,0,0,0-.749,1.607l13.238,27.139c.061.047.116.1.177.143l.479,1.108c.171-.137.345-.283.516-.42.1-.079.2-.164.3-.243.065-.055.13-.11.193-.155.022-.018.043-.036.059-.052.062-.046.115-.095.171-.137q1.463-1.22,2.914-2.464c.006,0,.006,0,.01-.012a122.793,122.793,0,0,0,19.853-21.182c.169-.236.344-.474.506-.722a79.681,79.681,0,0,0,6.62-11.193,70.461,70.461,0,0,0,2.766-6.569,58.578,58.578,0,0,0,3.443-17.99c.391-12.24-3.137-24.47-11.35-33.341C957.919,526.73,957.711,526.509,957.5,526.285Z" transform="translate(-374.979 -324.25)" fill="#f0f0f0"/>
          <path id="Path_56" data-name="Path 56" d="M962.1,526.365a72.934,72.934,0,0,1-2.464,44.806,31.41,31.41,0,0,1-4.78,8.6,18.013,18.013,0,0,1-7.783,5.413c-2.806,1.061-5.8,1.822-8.3,3.546a11.03,11.03,0,0,0-4.565,7.78c-.523,3.839.365,7.638,1.362,11.322,1.107,4.091,2.322,8.322,1.508,12.584-.1.516.708.639.807.124,1.416-7.415-2.988-14.278-3.017-21.62-.013-3.426,1.006-6.877,3.773-9.077,2.42-1.924,5.506-2.711,8.357-3.761a19.223,19.223,0,0,0,7.807-5.01,29.037,29.037,0,0,0,5.093-8.387,70.763,70.763,0,0,0,5.15-21.508,74.228,74.228,0,0,0-2.191-25.117c-.134-.507-.892-.2-.759.3Z" transform="translate(-379.898 -324.1)" fill="#fff"/>
          <path id="Path_57" data-name="Path 57" d="M974.01,581.958a10.943,10.943,0,0,0,12.623-6.437c.2-.485-.544-.82-.745-.334a10.133,10.133,0,0,1-11.754,5.963c-.51-.124-.631.684-.124.807Z" transform="translate(-392.227 -339.389)" fill="#fff"/>
          <path id="Path_58" data-name="Path 58" d="M953.289,604.469a21.091,21.091,0,0,1-2.883-15.1c.1-.517-.71-.64-.807-.124a21.938,21.938,0,0,0,3.032,15.7c.282.445.938-.041.658-.483Z" transform="translate(-384.621 -343.734)" fill="#fff"/>
          <path id="Path_59" data-name="Path 59" d="M975.956,549.493a6.194,6.194,0,0,1-5.1-2.928c-.276-.448-.932.038-.658.483a6.94,6.94,0,0,0,5.63,3.252.422.422,0,0,0,.465-.342A.41.41,0,0,0,975.956,549.493Z" transform="translate(-391.123 -330.504)" fill="#fff"/>
          <path id="Path_60" data-name="Path 60" d="M369.285,503.655a4.687,4.687,0,0,1-1.112-7.1l-8.254-14.466,8.637.558L375.07,496.3a4.712,4.712,0,0,1-5.785,7.357Z" transform="translate(-201.292 -310.501)" fill="#ffb6b6"/>
          <path id="Path_61" data-name="Path 61" d="M151.623,413.575h5.715l2.718-22.04h-8.434Z" transform="translate(-47.168 -121.801)" fill="#ffb6b6"/>
          <path id="Path_62" data-name="Path 62" d="M279.17,653.839h11.254a7.172,7.172,0,0,1,7.171,7.171v.233H279.17Z" transform="translate(-176.172 -363.93)" fill="#2f2e41"/>
          <path id="Path_63" data-name="Path 63" d="M208.453,413.575h5.714l2.718-22.04h-8.434Z" transform="translate(-64.847 -121.801)" fill="#ffb6b6"/>
          <path id="Path_64" data-name="Path 64" d="M336,653.839h11.254a7.172,7.172,0,0,1,7.171,7.171v.233H336Z" transform="translate(-193.851 -363.93)" fill="#2f2e41"/>
          <path id="Path_65" data-name="Path 65" d="M334.537,482.991s1.572,22.382-1.524,33.654-3.648,79.44-3.648,79.44H318.99L310,503.295l-20.733,93.117-9.883-.68,5.42-109.727Z" transform="translate(-176.238 -310.782)" fill="#2f2e41"/>
          <path id="Path_66" data-name="Path 66" d="M288.694,370.859l7.932-5.788,13.291,2.894,3.6,8.549,6.2,3.074a14.053,14.053,0,0,1,7.666,10.577l8.857,61.162-51.831-2-6.275-72.03a5.647,5.647,0,0,1,5.3-6.128Z" transform="translate(-175.842 -274.099)" fill="#3f3d56"/>
          <path id="Path_67" data-name="Path 67" d="M213.6,160.059l4.787,6.453,20.851,63.595-9.774,3.913-15.65-29.634Z" transform="translate(-66.448 -49.792)" fill="#3f3d56"/>
          <circle id="Ellipse_6" data-name="Ellipse 6" cx="11.577" cy="11.577" r="11.577" transform="translate(118.222 64.797)" fill="#ffb9b9"/>
          <path id="Path_68" data-name="Path 68" d="M151.778,180l18.891,26.275,21.117,13.77Z" transform="translate(-47.216 -55.995)" opacity="0.1"/>
          <path id="Path_69" data-name="Path 69" d="M305.6,345.549c-.805-1.608-1.634-3.358-1.326-5.129s2.341-3.315,3.91-2.437c.651-2.353,3.533-3.382,5.959-3.111s4.659,1.442,7.048,1.944,5.29.1,6.581-1.968l-3.089-.053,3.217-3.731-3.729-.279c1.292-1.394.948-3.762-.3-5.193a9.2,9.2,0,0,0-5-2.536,27.851,27.851,0,0,0-11.259-.259,14.637,14.637,0,0,0-5,1.741,9.951,9.951,0,0,0-3.5,3.626,11.971,11.971,0,0,0-1.421,5.456,15.256,15.256,0,0,0,6.722,12.977" transform="translate(-181.931 -260.807)" fill="#2f2e41"/>
          <path id="Path_70" data-name="Path 70" d="M766.305,530.629H407.046a13.971,13.971,0,0,1-13.955-13.955v-269.7a13.971,13.971,0,0,1,13.955-13.955h359.26a13.97,13.97,0,0,1,13.955,13.955v269.7A13.97,13.97,0,0,1,766.305,530.629Z" transform="translate(-211.611 -233.019)" fill="#e4e4e4"/>
          <path id="Path_71" data-name="Path 71" d="M773.878,403.436H718.42a10.334,10.334,0,0,1,0-20.667h55.458a10.334,10.334,0,0,1,0,20.667Z" transform="translate(-309.602 -279.604)" fill="#fff"/>
          <path id="Path_72" data-name="Path 72" d="M725.465,450.347H712.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-309.758 -298.269)" fill="#fff"/>
          <path id="Path_73" data-name="Path 73" d="M804.465,450.347H791.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-334.334 -298.269)" fill="#fff"/>
          <path id="Path_74" data-name="Path 74" d="M764.465,450.347H751.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-321.891 -298.269)" fill="#fff"/>
          <path id="Path_75" data-name="Path 75" d="M725.465,471.347H712.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-309.758 -304.802)" fill="#fff"/>
          <path id="Path_76" data-name="Path 76" d="M804.465,471.347H791.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-334.334 -304.802)" fill="#fff"/>
          <path id="Path_77" data-name="Path 77" d="M764.465,471.347H751.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-321.891 -304.802)" fill="#fff"/>
          <path id="Path_78" data-name="Path 78" d="M725.465,492.347H712.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-309.758 -311.335)" fill="#fff"/>
          <path id="Path_79" data-name="Path 79" d="M804.465,492.347H791.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-334.334 -311.335)" fill="#fff"/>
          <path id="Path_80" data-name="Path 80" d="M764.465,492.347H751.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,0,1,0,7.578Z" transform="translate(-321.891 -311.335)" fill="#fff"/>
          <path id="Path_81" data-name="Path 81" d="M725.465,513.347H712.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-309.758 -317.868)" fill="#fff"/>
          <path id="Path_82" data-name="Path 82" d="M804.465,513.347H791.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,1,1,0,7.578Z" transform="translate(-334.334 -317.868)" fill="#fff"/>
          <path id="Path_83" data-name="Path 83" d="M764.465,513.347H751.376a3.789,3.789,0,0,1,0-7.578h13.089a3.789,3.789,0,0,1,0,7.578Z" transform="translate(-321.891 -317.868)" fill="#fff"/>
          <circle id="Ellipse_7" data-name="Ellipse 7" cx="35.135" cy="35.135" r="35.135" transform="translate(292.047 110.054)" fill="#cacaca"/>
          <path id="Path_84" data-name="Path 84" d="M599.921,467.383a10.345,10.345,0,0,1-10.334-10.334V391.6a10.334,10.334,0,1,1,20.667,0v65.447A10.345,10.345,0,0,1,599.921,467.383Z" transform="translate(-272.739 -279.138)" fill="#fff"/>
          <path id="Path_85" data-name="Path 85" d="M732.846,405.084H723.2a1.378,1.378,0,0,1,0-2.756h9.645a1.378,1.378,0,1,1,0,2.756Z" transform="translate(-313.876 -285.689)" fill="#e4e4e4"/>
          <path id="Path_86" data-name="Path 86" d="M754.846,405.584H745.2a1.378,1.378,0,0,1,0-2.756h9.645a1.378,1.378,0,0,1,0,2.756Z" transform="translate(-320.72 -285.844)" fill="#e4e4e4"/>
          <path id="Path_87" data-name="Path 87" d="M776.846,406.084H767.2a1.378,1.378,0,0,1,0-2.756h9.645a1.378,1.378,0,1,1,0,2.756Z" transform="translate(-327.564 -286)" fill="#e4e4e4"/>
          <path id="Path_88" data-name="Path 88" d="M798.846,406.584H789.2a1.378,1.378,0,0,1,0-2.756h9.645a1.378,1.378,0,1,1,0,2.756Z" transform="translate(-334.408 -286.155)" fill="#e4e4e4"/>
          <path id="Path_89" data-name="Path 89" d="M452.973,502.261a12.878,12.878,0,0,0,3.83,9.169h-5.691a12.786,12.786,0,0,1-12.786-12.786V291.364a12.786,12.786,0,0,1,12.786-12.786h8.281a12.913,12.913,0,0,0-6.421,11.16Z" transform="translate(-225.684 -247.192)" fill="#cacaca"/>
          <path id="Path_90" data-name="Path 90" d="M776.887,666.24h-646.4a.82.82,0,1,1,0-1.641h646.4a.82.82,0,1,1,0,1.641Z" transform="translate(-129.662 -367.278)" fill="#cacaca"/>
          <path id="Path_91" data-name="Path 91" d="M421.882,361.231q-6.531-1.829-13.11-3.389a374.473,374.473,0,0,0-45.53-7.936,10.186,10.186,0,0,0-12.421,7.172l-7.654,28.245a10.18,10.18,0,0,0,7.158,12.476l.1.021c10.127,1.15,20.351,2.749,30.519,4.788.91.179,1.812.365,2.721.558q4.888,1.013,9.748,2.163c1.419.331,2.831.675,4.251,1.026q5.725,1.426,11.457,3.038,6.376,1.8,12.758,3.837c.462.138.923.282,1.378.434v-52.04C422.805,361.486,422.344,361.355,421.882,361.231Z" transform="translate(-195.971 -269.275)" fill="#fff"/>
          <path id="Path_92" data-name="Path 92" d="M421.882,361.231q-6.531-1.829-13.11-3.389a374.473,374.473,0,0,0-45.53-7.936,10.186,10.186,0,0,0-12.421,7.172l-7.654,28.245a10.18,10.18,0,0,0,7.158,12.476l.1.021c10.127,1.15,20.351,2.749,30.519,4.788.91.179,1.812.365,2.721.558q4.888,1.013,9.748,2.163c1.419.331,2.831.675,4.251,1.026q5.725,1.426,11.457,3.038,6.376,1.8,12.758,3.837c.462.138.923.282,1.378.434v-1.454c-.461-.145-.923-.289-1.378-.434q-5.869-1.87-11.725-3.52-2.191-.63-4.382-1.219-3.947-1.064-7.874-2.039-2.087-.527-4.168-1.013c-.1-.028-.214-.048-.317-.076q-3.545-.837-7.1-1.6c-.909-.193-1.819-.386-2.728-.572-10.967-2.273-22.018-4.044-32.951-5.284a8.8,8.8,0,0,1-6.138-10.768l7.654-28.252a8.8,8.8,0,0,1,10.781-6.18l.1.014a373.245,373.245,0,0,1,44.959,7.8c.151.041.3.076.454.11q6.738,1.612,13.434,3.486c.455.124.916.255,1.378.393v-1.433C422.805,361.486,422.344,361.355,421.882,361.231Z" transform="translate(-195.971 -269.275)" fill="#fdc591"/>
          <path id="Path_93" data-name="Path 93" d="M445.659,366.378v50.594c-.462-.152-.916-.3-1.378-.441q-6.107-1.953-12.255-3.679-5.9-1.674-11.842-3.148c-1.405-.344-2.8-.682-4.21-1.013-.055-.248-.11-.5-.158-.744-.255-1.185-.454-2.384-.606-3.589-.069-.462-.117-.923-.166-1.392a47.582,47.582,0,0,1,15.349-39.861c.2-.193.406-.379.613-.558q6.676,1.591,13.275,3.445C444.743,366.11,445.2,366.241,445.659,366.378Z" transform="translate(-218.37 -273.314)" fill="#fdc591"/>
          <path id="Path_94" data-name="Path 94" d="M381.918,397.141l-19.159-2.26a5.168,5.168,0,0,0-1.212,10.265l19.158,2.26a5.168,5.168,0,1,0,1.213-10.265Zm3.155,5.58a3.793,3.793,0,0,1-4.21,3.314l-19.159-2.26a3.788,3.788,0,1,1,.889-7.523l19.159,2.26a3.8,3.8,0,0,1,3.321,4.209Z" transform="translate(-200.379 -283.361)" fill="#fdc591"/>
          <path id="Path_95" data-name="Path 95" d="M450.126,384.442v23.995a11.232,11.232,0,0,1-1.378.7A13.894,13.894,0,0,1,433.7,406.7c-.193-.172-.386-.358-.572-.551s-.365-.386-.537-.586a13.907,13.907,0,0,1,16.155-21.832,14.416,14.416,0,0,1,1.378.71Z" transform="translate(-222.837 -279.528)" fill="#fff"/>
          <path id="Path_96" data-name="Path 96" d="M424.371,410.39q-8.132,1.695-16.155,3.755-3,.765-5.973,1.584-3.555.982-7.11,2.032-4.536,1.343-9.059,2.811c-.875.289-1.757.579-2.639.868-8.384,2.8-16.713,5.9-24.9,9.28a10.187,10.187,0,0,0-7.433,12.27l6.91,28.438a10.181,10.181,0,0,0,12.283,7.482l.1-.034a367.776,367.776,0,0,1,41.287-14.137q6.283-1.746,12.7-3.293c.462-.11.916-.22,1.378-.324V410.108C425.287,410.191,424.832,410.287,424.371,410.39Z" transform="translate(-198.459 -288.109)" fill="#fff"/>
          <path id="Path_97" data-name="Path 97" d="M424.371,410.39q-8.132,1.695-16.155,3.755-3,.765-5.973,1.584-3.555.982-7.11,2.032-4.536,1.343-9.059,2.811c-.875.289-1.757.579-2.639.868-8.384,2.8-16.713,5.9-24.9,9.28a10.187,10.187,0,0,0-7.433,12.27l6.91,28.438a10.181,10.181,0,0,0,12.283,7.482l.1-.034a367.776,367.776,0,0,1,41.287-14.137q6.283-1.746,12.7-3.293c.462-.11.916-.22,1.378-.324V459.7l-1.378.331-1.04.248q-6.076,1.478-12.022,3.128c-.1.028-.213.062-.317.09a367.439,367.439,0,0,0-41.08,14.088,8.81,8.81,0,0,1-10.568-6.483l-6.9-28.438A8.8,8.8,0,0,1,358.9,432.05l.1-.034c8.922-3.693,18-7.041,27.15-10.017.882-.289,1.764-.572,2.645-.854q3.245-1.023,6.5-1.991,3.431-1.023,6.854-1.97l.455-.124q3.348-.92,6.717-1.777,7.471-1.9,15.046-3.493c.455-.1.916-.193,1.378-.282v-1.4C425.287,410.191,424.832,410.287,424.371,410.39Z" transform="translate(-198.459 -288.109)" fill="#fdc591"/>
          <path id="Path_98" data-name="Path 98" d="M447.77,411.118v49.609c-.454.1-.916.207-1.378.317q-6.469,1.571-12.882,3.348-.258-.289-.5-.579a47.618,47.618,0,0,1-10.837-38.31c.035-.227.076-.462.117-.689s.076-.448.117-.668a47.192,47.192,0,0,1,1.763-6.648c.09-.262.179-.524.276-.785q3.152-.868,6.324-1.667,7.761-2,15.618-3.644C446.847,411.3,447.308,411.208,447.77,411.118Z" transform="translate(-220.481 -288.423)" fill="#fdc591"/>
          <path id="Path_99" data-name="Path 99" d="M400.548,474.892a5.173,5.173,0,0,0-6.731-2.845l-17.877,7.247a5.167,5.167,0,1,0,3.886,9.576l17.877-7.247a5.179,5.179,0,0,0,2.845-6.731Zm-3.362,5.449L379.309,487.6a3.792,3.792,0,0,1-2.852-7.027l17.877-7.247a3.789,3.789,0,0,1,2.852,7.02Z" transform="translate(-205.273 -307.26)" fill="#fdc591"/>
          <path id="Path_100" data-name="Path 100" d="M451.807,429.325v27.012a13.532,13.532,0,0,1-1.378.276,13.92,13.92,0,0,1-12.758-22.534c.158-.2.324-.393.5-.579s.344-.379.53-.558a13.914,13.914,0,0,1,11.725-3.885,11.853,11.853,0,0,1,1.378.269Z" transform="translate(-224.517 -293.961)" fill="#fff"/>
          <path id="Path_101" data-name="Path 101" d="M457.587,334.139V402.9c.462-.152.923-.3,1.378-.434v-67.7C458.5,334.553,458.048,334.346,457.587,334.139Zm0,0V402.9c.462-.152.923-.3,1.378-.434v-67.7C458.5,334.553,458.048,334.346,457.587,334.139Zm0,0V402.9c.462-.152.923-.3,1.378-.434v-67.7C458.5,334.553,458.048,334.346,457.587,334.139Zm0,5.022v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0V419.11c.462-.11.916-.22,1.378-.324V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm300.538-65.144H471.889a14.326,14.326,0,0,0-14.3,14.3V500.843a14.319,14.319,0,0,0,14.3,14.295H758.125a14.312,14.312,0,0,0,14.295-14.295V288.32a14.314,14.314,0,0,0-14.295-14.3Zm12.917,226.825a12.93,12.93,0,0,1-12.917,12.917H471.889a12.936,12.936,0,0,1-12.924-12.917V288.32A12.944,12.944,0,0,1,471.889,275.4H758.125a12.932,12.932,0,0,1,12.917,12.924ZM457.587,339.162V417.7l1.378-.331V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0,0v79.232c.462-.11.923-.214,1.378-.317V339.554C458.5,339.417,458.042,339.286,457.587,339.162Zm0-5.022V402.9c.462-.152.923-.3,1.378-.434v-67.7C458.5,334.553,458.048,334.346,457.587,334.139Zm0,0V402.9c.462-.152.923-.3,1.378-.434v-67.7C458.5,334.553,458.048,334.346,457.587,334.139Z" transform="translate(-231.675 -245.773)" fill="#2f2e41"/>
          <path id="Path_102" data-name="Path 102" d="M359.16,461.376a4.687,4.687,0,0,0-6.882-2.069L339.07,449.16l-.624,8.632,12.637,8.313a4.712,4.712,0,0,0,8.076-4.729Z" transform="translate(-194.612 -300.258)" fill="#ffb6b6"/>
          <path id="Path_103" data-name="Path 103" d="M287.253,377.068l-4.346-2.054s-7,1.969-3.6,11.227l20.584,38.347L325.022,439.3l7.834-6.942-25.149-19.9Z" transform="translate(-175.925 -277.192)" fill="#3f3d56"/>
        </g>
      </svg>

      <h3>Welcome to SIBank</h3>
    </div>
  </div>



      <div class="form-div">

          <div class="form-box">
            <form [formGroup]="loginForm" #data="ngForm" (ngSubmit)="logInUser()">

              <h2>Sign in</h2>
              <p>Enter yout email and password</p>
              <div class="textField">
                  <div class="email"><input id="email" type="text" formControlName="email" placeholder="email"></div>
                  <div class="warning_message">
                    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
                      <small *ngIf="loginForm.controls['email'].errors?.['required']">
                        This field is required
                      </small>
                      <small *ngIf="loginForm.controls['email'].errors?.['email']">
                        Input must be email
                      </small>
                    </div>
                  </div>
              </div>

              <div class="textField">
                <div class="password"><input id="password" type="text" formControlName="password" placeholder="password"></div>
                <div class="warning_message">
                  <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">

                      <small *ngIf="loginForm.controls['password'].errors?.['required']">
                        This field is required
                      </small>
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="loginForm.pristine" >Sign in</button>

            </form>
          </div>
      </div>
  </div>








