/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/ilh8wkr.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    background-color: #272727;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
