.mainButton{
  border:0;
  display: block;
  text-align: center;
  text-decoration: solid;
  padding: 16px 10px;
  width: 300px;
  outline: none;
  border-radius: 15px;
  transition: 0.25px;
  color: #ffff;
  background: #272727;
  box-shadow:  7px 7px 14px #181818,
             -7px -7px 14px #363636;
  transition-duration: 0.4s;
  font-weight: 600;

}
