
<div class="nav_div">
  <div class="nav_bar">
    <div class="logo">
      <h2>SIbank</h2>
    </div>
    <div class="hamburger" (click)="clickEvent()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26.788" height="21.682" viewBox="0 0 26.788 21.682">
        <path id="Icon_open-menu" data-name="Icon open-menu" d="M0,0V3.111H26.788V0ZM0,9.239V12.35H26.788V9.239Zm0,9.332v3.111H26.788V18.572Z" fill="rgba(255,255,255,0.93)"/>
      </svg>
    </div>
    <ul [ngClass]="status ? 'open' : 'close'">
      <li><a href="">Account</a></li>
      <li><a href="">About us</a></li>
    </ul>
    <div class="nav_bar_links">
      <a href="">Account</a>
      <a href="">About us</a>
    </div>
    <div class="logout_btn">
      <button (click)="logoutUser()">Logout</button>
    </div>
  </div>
</div>

  <div  class="dashboard-categories" >
    <div class="container">

      <div class="dashboard">

          <div [ngClass]="{'selected' : selectedAccount == account }" class="dashboard-card" *ngFor="let account of accounts" (click)="selectAccount($event, account)">
            <p>{{ account.bankName }}</p>
            <p>{{ account.iban }}</p>
            <p>{{ account.money | currencyFormat}}</p>
          </div>

      </div>

    </div>

      <div class="categories">
        <div class="category-button">
          <button main-button (click)="showModal(); stopPropagation($event)">Add money</button>
        </div>
        <div class="category-button">
          <button main-button (click)="showMoneyTransferModal()">Transfer money</button>
        </div>
        <div class="category-button">
          <button main-button [disabled]="!selectedAccount" (click)="deleteAcc()">Delete account</button>
        </div>

      </div>
  </div>

  <app-add-money
      class="modal" *ngIf="addMoneyDisplayStatus"
      (closeModalFunc)="closeModalFunc($event)"
      (sendMoneyToAddFunc)="getMoneyToAdd($event)"
      (click)="stopPropagation($event)">
  </app-add-money>


  <app-money-transfer
    class="modal" *ngIf="moneyTransferDisplayStatus" (closeModalFunc)="closeModalFunc($event)"></app-money-transfer>
  <!-- <div *ngIf="false" id="myModal" class="modal" (click)="show=false">


    <div class="modal-content" (click)="stopPropagation($event)">
      <span (click)="show=false">&times;</span>
      <h2>Add money</h2>


      <input type="number" placeholder="enter amount of money" [(ngModel)]="moneyToAdd">


      <button (click)="addMoney(); show=false">confirm</button>
    </div>

  </div> -->


