@import "/src/app/shared/components/buttons/main-button.scss";

$mainColor : #272727;
$lightYellow : #FDC591;
$darkYellow : #CB9767;

.nav_div{
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 8%;

}
.nav_bar{
  background: #272727;
  border-radius: 50px;
  width: 70%;
  box-shadow:  11px 11px 20px #191919,
             -11px -11px 20px #353535;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

.logo{
  text-align: -webkit-center;
  width: 25%;

}

.logo h2{
  font-weight: 600;

}

.nav_bar_links{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_bar_links a{
  color: #ffff;
  text-decoration: none;
}

.logout_btn{
  width: 25%;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.logout_btn button{
  border:0;
  display: block;
  text-align: center;
  padding: 5px 5px;
  outline: none;
  color: #020202;
  font-weight: 700;
  border-radius: 24px;
  transition: 0.25px;
  transition-duration: 0.4s;
  background: linear-gradient(145deg,#FDC591, #CB9767);
  box-shadow:  11px 11px 20px #191919,
             -11px -11px 20px #353535;
  width: -webkit-fill-available;
  max-width: 220px;

}

.logo h2{
  color: #CB9767;

}

.heading{
  text-align: center;
  margin: 5%;
  margin-bottom: 7%;
}

.dashboard-heading{
  margin-bottom: 15px;
}

.dashboard-categories{
  display: flex;
}
.container{
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard{
  width: 100%;
    max-height: 71vh;
    display: grid;
    align-items: center;
    overflow-y: scroll;
    justify-items: center;
    align-content: space-between;
    padding: 20px;


}

/* width */
::-webkit-scrollbar {
  width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.397);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.774);
}

.dashboard-card{

  margin: 20px;
  padding: 20px;
  width: -webkit-fill-available;
  max-width: 450px;
  min-height: 120px;
  transition: all 0.2s;
  grid-template-rows: auto;
  border-radius: 20px;
  background: linear-gradient(#535353,#343434);
  box-shadow:  16px 16px 32px #181818,
             -16px -16px 32px #363636;

}

.dashboard-card p{
  color: #ffff;
  margin-bottom: 0rem;

}

.card-icon{
  grid-row: 1/3;
}

img{
  width: 20px;
}

.dashboard-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.categories{
  width: 50%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


h3{
  font-family: 'Ubuntu', sans-serif;

}

button:hover{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);

}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #272727c5; /* Fallback color */
  display: grid;
  justify-items: center;
  align-items: center;

}

.close{
  display: none;
  opacity: 0;
}

li{
  color: #ffff;
  list-style-type: none;
}

li a{
  color: #ffff;
  text-decoration: none;
}


@media only screen and (max-width: 640px) {

  .dashboard-categories{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .dashboard{
    max-height: 42vh;
  }

  .dashboard-card{
    max-width: 300px;
  }

  .container{
    width: 100%;


  }

  .categories{
    width: 100%;
    min-height: 200px;
    margin-top: 15px;

  }

  .nav_bar_links{
    display: none;
  }

  .logout_btn{
    display: none;
  }

  .category-button button{
    margin: 15px
  }

  .hamburger{
    display: block;
    cursor:pointer;
  }

}

.selected {
  background: #272727;
box-shadow: inset 16px 16px 32px #181818,
            inset -16px -16px 32px #363636;
}
